.container {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.child {
  margin: 10px;
  background-color: rgb(83, 47, 118);
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  color: white;
}
