* {
  margin: 0;
}

div {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  color: black;
  transition: 0.5s ease-in;
  flex-direction: column;
}

h1 {
  color: inherit;
}

.theme-up {
  background-color: black;
  color: white;
}
