body {
  background-color: blue;
}
p{
  font-size: 18px;
}

@media screen and (min-width: 414px) {
  body {
    background-color: purple;
  }
  p{
    font-size: 30px;
  }
  
}


@media screen and (min-width: 768px) {
  body {
    background-color: lightpink;
  }
  p{
    font-size: 42px;
    font-weight: 500;
  }
  
}
