@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,800;1,300;1,400;1,500&display=swap');

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Poppins;
  /* background-image: url(); */
}

  
h1 {
  /* color: white; */
}

img {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}